/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    overflow-x: hidden;
}

/* Index Section */
#index {
    height: 100vh;
}

.landing_img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

/* More info Section */
#more_info {
    padding: 2rem 0;
}

.card img {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
}

.card img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 5px;
    
}

.card-body:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

/* Footer */
footer {
    padding: 1rem 0;
}
